/* Navbar styles */
.navBar {
    background-color: black;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
  }
  
  .toDoList {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .login {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  
  .name {
    color: white;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  

  
  
  .input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
  }
  
  .add-button {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: 2px solid #5efc8d;
    background-color: #5efc8d;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .add-button:hover{
    background-color: #ccc;
    cursor: pointer;
  }
  body {
    background-color: black;
    color: white;
  }
  .form{
    margin-top: 100px;
    margin-bottom: 50px;
  }  